name: Release

on:
  push:
    branches:
      - main
      - development
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Base.Dockerfile
            BUILD_IMAGE_TAG: latest
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Base.Dockerfile
            BUILD_IMAGE_TAG: jre11
          - BUILD_IMAGE_DOCKERFILE: builds/base/JDK11.Dockerfile
            BUILD_IMAGE_TAG: jdk11
          - BUILD_IMAGE_DOCKERFILE: builds/base/JDK17.Dockerfile
            BUILD_IMAGE_TAG: jdk17
          - BUILD_IMAGE_DOCKERFILE: builds/base/JDK21.Dockerfile
            BUILD_IMAGE_TAG: jdk21
          - BUILD_IMAGE_DOCKERFILE: builds/base/JDK23.Dockerfile
            BUILD_IMAGE_TAG: jdk23
          - BUILD_IMAGE_DOCKERFILE: builds/base/JDK24.Dockerfile
            BUILD_IMAGE_TAG: jdk24
          - BUILD_IMAGE_DOCKERFILE: builds/base/JDK25.Dockerfile
            BUILD_IMAGE_TAG: jdk25
          - BUILD_IMAGE_DOCKERFILE: builds/base/JRE17.Dockerfile
            BUILD_IMAGE_TAG: jre17
          - BUILD_IMAGE_DOCKERFILE: builds/base/JRE21.Dockerfile
            BUILD_IMAGE_TAG: jre21
          - BUILD_IMAGE_DOCKERFILE: builds/base/JRE24.Dockerfile
            BUILD_IMAGE_TAG: jre24
          - BUILD_IMAGE_DOCKERFILE: builds/base/JRE25.Dockerfile
            BUILD_IMAGE_TAG: jre25
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Base.JDK8.Dockerfile
            BUILD_IMAGE_TAG: jdk8
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Lucee5.Dockerfile
            BUILD_IMAGE_TAG: lucee5
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Lucee6.Dockerfile
            BUILD_IMAGE_TAG: lucee6
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Lucee7.Dockerfile
            BUILD_IMAGE_TAG: lucee7
          - BUILD_IMAGE_DOCKERFILE: builds/debian/LuceeLight.Dockerfile
            BUILD_IMAGE_TAG: lucee-light
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Lucee5Light.Dockerfile
            BUILD_IMAGE_TAG: lucee5-light
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Adobe2023.Dockerfile
            BUILD_IMAGE_TAG: adobe2023
          - BUILD_IMAGE_DOCKERFILE: builds/debian/Adobe2025.Dockerfile
            BUILD_IMAGE_TAG: adobe2025
          - BUILD_IMAGE_DOCKERFILE: builds/debian/BoxLang.Dockerfile
            BUILD_IMAGE_TAG: boxlang

          # ubi9 Builds
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Base.Dockerfile
            BUILD_IMAGE_TAG: ubi9
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Base.Dockerfile
            BUILD_IMAGE_TAG: jre11-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JDK11.Dockerfile
            BUILD_IMAGE_TAG: jdk11-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JDK17.Dockerfile
            BUILD_IMAGE_TAG: jdk17-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JDK21.Dockerfile
            BUILD_IMAGE_TAG: jdk21-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JDK24.Dockerfile
            BUILD_IMAGE_TAG: jdk24-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JRE17.Dockerfile
            BUILD_IMAGE_TAG: jre17-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JRE21.Dockerfile
            BUILD_IMAGE_TAG: jre21-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/base/rhel.JRE24.Dockerfile
            BUILD_IMAGE_TAG: jre24-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Lucee5.Dockerfile
            BUILD_IMAGE_TAG: lucee5-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Lucee6.Dockerfile
            BUILD_IMAGE_TAG: lucee6-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Lucee7.Dockerfile
            BUILD_IMAGE_TAG: lucee7-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/LuceeLight.Dockerfile
            BUILD_IMAGE_TAG: lucee-light-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Lucee5Light.Dockerfile
            BUILD_IMAGE_TAG: lucee5-light-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Adobe2023.Dockerfile
            BUILD_IMAGE_TAG: adobe2023-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/Adobe2025.Dockerfile
            BUILD_IMAGE_TAG: adobe2025-rhel
          - BUILD_IMAGE_DOCKERFILE: builds/redhat/BoxLang.Dockerfile
            BUILD_IMAGE_TAG: boxlang-rhel

          # Alpine builds
          # Note: No JDK builders currently support alpine with ARM
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Base.Dockerfile
            BUILD_IMAGE_TAG: alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Base.Dockerfile
            BUILD_IMAGE_TAG: jre11-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/base/Alpine.JDK11.Dockerfile
            BUILD_IMAGE_TAG: jdk11-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/base/Alpine.JDK17.Dockerfile
            BUILD_IMAGE_TAG: jdk17-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/base/Alpine.JDK21.Dockerfile
            BUILD_IMAGE_TAG: jdk21-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/base/Alpine.JRE17.Dockerfile
            BUILD_IMAGE_TAG: jre17-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Base.JDK8.Dockerfile
            BUILD_IMAGE_TAG: jdk8-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Lucee5.Dockerfile
            BUILD_IMAGE_TAG: lucee5-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Lucee6.Dockerfile
            BUILD_IMAGE_TAG: lucee6-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Lucee7.Dockerfile
            BUILD_IMAGE_TAG: lucee7-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/LuceeLight.Dockerfile
            BUILD_IMAGE_TAG: lucee-light-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Lucee5Light.Dockerfile
            BUILD_IMAGE_TAG: lucee5-light-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Adobe2023.Dockerfile
            BUILD_IMAGE_TAG: adobe2023-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/Adobe2025.Dockerfile
            BUILD_IMAGE_TAG: adobe2025-alpine
          - BUILD_IMAGE_DOCKERFILE: builds/alpine/BoxLang.Dockerfile
            BUILD_IMAGE_TAG: boxlang-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Setup Builds
        id: setup
        env:
          DOCKER_IMAGE: ortussolutions/commandbox
          BUILD_IMAGE_TAG: ${{ matrix.BUILD_IMAGE_TAG }}
          COMMANDBOX_VERSION: 6.2.1
          IMAGE_VERSION: 3.14.8
        run: |
          # Tag Builds
          if [[ $GITHUB_REF == refs/tags/* ]]; then

            if [[ $BUILD_IMAGE_TAG == latest ]]; then
              BUILD_IMAGE_TAG="${GITHUB_REF#refs/tags/v}"
            else
              BUILD_IMAGE_TAG="${BUILD_IMAGE_TAG}-${GITHUB_REF#refs/tags/v}"
            fi

          elif [[ $GITHUB_REF == 'refs/heads/development' ]]; then

            # Snapshot builds
            BUILD_IMAGE_TAG="${BUILD_IMAGE_TAG}-snapshot"

          fi

          TAGS="${DOCKER_IMAGE}:${BUILD_IMAGE_TAG}"

          if [[ ${BUILD_IMAGE_TAG} == *"alpine"* ]] && [[ ${BUILD_IMAGE_TAG} != @(jd21-alpine|boxlang-alpine-snapshot|boxlang-alpine|boxlang-alpine-snapshot) ]]; then
            ARCH_PLATFORMS=linux/amd64
          else
            ARCH_PLATFORMS=linux/amd64,linux/arm64/v8
          fi

          # Set output parameters.
          echo "arch_platforms=${ARCH_PLATFORMS}" >> $GITHUB_ENV
          echo "image_version=${IMAGE_VERSION}" >> $GITHUB_ENV
          echo "commandbox_version=${COMMANDBOX_VERSION}" >> $GITHUB_ENV
          echo "IMAGE_TAG=${TAGS}" >> $GITHUB_ENV

      - name: Test
        env:
          COMMANDBOX_VERSION: ${{ env.commandbox_version }}
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1
          BUILD_IMAGE_DOCKERFILE: ${{ matrix.BUILD_IMAGE_DOCKERFILE }}
        run: |
          docker compose -f docker-compose.test.yml up --build --exit-code-from sut
          docker compose -f docker-compose.secret-test.yml up --build --exit-code-from sut

      - name: DockerHub Login
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Final
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILDKIT: 1
        with:
          provenance: false
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ${{ matrix.BUILD_IMAGE_DOCKERFILE }}
          build-args: COMMANDBOX_VERSION=${{ env.commandbox_version }}
          platforms: ${{ env.arch_platforms }}
          push: true
          tags: ${{ env.IMAGE_TAG }}
